.text-left {
    text-align: left;
}

body {
    padding-left: 20px;
    padding-right: 20px;
}

h1, h2, h3, p {
    text-align: left;
}

.row-flex {
    display: flex;
    align-items: center;
}

   .row-flex img {
       border: 5px solid #592321;
       margin-right: 20px;
       margin-bottom: 10px;
}
