{% extends "layout.html" %}
{% block title %}Balans{% endblock %}

{% block content %}
    <div class="container">
    <h1 class="text-center my-4">BALANS</h1>
    <p>Balans tussen werk en privéleven is cruciaal voor je mentale gezondheid. Het voorkomt overbelasting, stress en burn-out door voldoende tijd voor ontspanning en sociale interacties. Mocht je een van bovenstaande dingen ervaren, is het belangrijk om de balans in je leven weer terug te vinden. Een goede balans versterkt persoonlijke relaties, verhoogt productiviteit en creativiteit, en helpt je om veerkrachtiger te zijn. Door tijd voor jezelf te nemen, kun je beter omgaan met werkdruk en uitdagingen in je privéleven, wat leidt tot een sterker mentaal welzijn.</p>
        <div class="one-section">
            <div class="section_pagina">
                <p> Oefeningen voor balans </p>
                <div class="container">
                    <ul>
                        <li><a href="/balans/oefening/hobby"> Hobby </a></li>
                        <li><a href="/balans/oefening/grenzen"> Grenzen </a></li> 
                        <li><a href="/balans/oefening/planning"> Planning </a></li> 
                        <li><a href="/balans/oefening/ontspannen"> Ontspanning </a></li> 
                        <li><a href="/balans/oefening/levensdomein"> Levensdomein </a></li> 
                    </ul>
            </div>

        </div>


 {% endblock %}


