{% extends "layout.html" %}
{% block title %}Rust{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">RUST</h1>
    <p> Mentale rust is een belangrijk aspect van ons welzijn, maar wordt vaak over het hoofd gezien in een maatschappij die gericht is op productiviteit en constante activiteit. Toch is het essentieel voor zowel de mentale als de fysieke gezondheid. Mentale rust is een staat van ontspanning waarbij de geest niet overbelast is door zorgen, angst, of overmatige stimulatie.</p>
            <div class="section_pagina">
                <p> Oefeningen voor rust</p>
                <div class="container">
                    <ul>
                      <li><a href="/rust/oefening/dankbaarheid">Dankbaarheid</a></li>
                      <li><a href="/rust/oefening/meditatie">Meditatie</a></li>
                      <li><a href="/rust/oefening/ademhaling">Ademhaling</a></li>
                      <li><a href="/rust/oefening/hierennu">Hier en nu</a></li>
                      <li><a href="/rust/oefening/journal">Journal</a></li>
                    </ul>
                  </div>
                  
            </div>


 {% endblock %}
