{% extends "layout.html" %}
{% block title %}Groei{% endblock %}

{% block content %}
    <div class="container">
    <h1 class="text-center my-4">GROEI</h1>
    <p> Mentale groei is essentieel voor persoonlijk welzijn. Het helpt om flexibel om te gaan met veranderingen, beter te leren van ervaringen en versterkt veerkrachtigheid. Het stimuleert zelfreflectie, wat leidt tot betere keuzes en een sterker gevoel van eigenwaarde. </p>
        <div class="one-section">
            <div class="section_pagina">
                <p> Oefeningen voor groei </p>
                <div class="container">
                    <ul>
                        <li><a href="/groei/oefening/uitdagingen"> Uitdagingen lijst </a></li>
                        <li><a href="/groei/oefening/evalueren"> Moeilijke momenten evalueren </a></li>
                        <li><a href="/groei/oefening/bereidheid"> Bereidheid verhogen </a></li>
                        <li><a href="/groei/oefening/leerjezelfkennen"> Leer jezelf beter kennen</a></li>
                        <li><a href="/groei/oefening/zelfbewustzijn"> Ontwikkel je zelfbewust zijn </a></li>
                    </ul>
                </div>
                
            </div>

        </div>


 {% endblock %}
